<%= form_with(model: change_implementation, local: true) do |form| %>
  <% if change_implementation.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(change_implementation.errors.count, "error") %> prohibited this change_implementation from being saved:</h2>

      <ul>
      <% change_implementation.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :staging_results %>
    <%= form.text_field :staging_results %>
  </div>

  <div class="field">
    <%= form.label :implementation_results %>
    <%= form.text_field :implementation_results %>
  </div>

  <div class="field">
    <%= form.label :implementation_date %>
    <%= form.date_select :implementation_date %>
  </div>

  <div class="field">
    <%= form.label :sign_off %>
    <%= form.text_field :sign_off %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
